.hero{
    background: linear-gradient(to right, #6dd5ed, #2193b0), url("/path/to/assets/images/bd1.jpg") no-repeat center/cover;
}

.hero-wrapper {
    padding-top: var(--navbar-height);
}

.home-page-hero {
    background:url('../../../assets/images/bd7.jpeg') no-repeat center/cover;
}


.donate-blood-page-hero{
    background:linear-gradient(rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.8)),url("../../../assets/images/bd7.jpeg") no-repeat center/cover
}

.host-blood-drive-page-hero{
    background:linear-gradient(rgba(220, 53, 69, 0.8), rgba(220, 53, 69, 0.8)),url("../../../assets/images/bd3.jpg") no-repeat center/cover
}

.need-blood-page-hero{
    background:linear-gradient(rgba(255, 193, 7, 0.8), rgba(255, 193, 7, 0.8)),url("../../../assets/images/bd3.jpg") no-repeat center/cover
}

.contact-page-hero{
    background:linear-gradient(rgba(40, 167, 69, 0.8), rgba(40, 167, 69, 0.8)),url("../../../assets/images/bd3.jpg") no-repeat center/cover
}

.hero h1{
    text-shadow:2px 2px 4px rgba(0,0,0,.5)
}
.hero a,.hero button{
    transition:transform .3s ease-in-out
}
.hero a:hover,.hero button:hover{
    transform:scale(1.05)
}

.main-wrapper{
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:85vh;
    position:relative
}

.main-wrapper::before{
    content:"";
    position:absolute;
    inset:0;
    z-index:0;
    opacity: .2;
}

.main-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:15px;
    position:relative;
    margin:0 auto;
    width:min(100% - 40px,1200px);
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border-radius:8px;
    background:#fff;
    z-index:1;
    animation:fade-in .8s ease-out forwards;
    transform:translateY(30px);
    opacity:0
}

@keyframes fade-in{
    to{
        transform:translateY(0);
        opacity:1}
}
