.side-col-image{
    background:url("../../../assets/images/bd2.jpg") no-repeat center;
    background-size:cover;
    position:relative}
.donate-blood-with-hemocell{
    background:url("../../../assets/images/bd4.jpg") no-repeat center;
    background-size:cover;
    position:relative}
.why-donate-blood{
    background:url("../../../assets/images/bd3.jpg") no-repeat center;
    background-size:cover;
    position:relative}
.hosting-blood-drive{
    background:url("../../../assets/images/bd2.jpg") no-repeat center;
    background-size:cover;
    position:relative
}
.benefits-host-drive{
    background:url("../../../assets/images/bd5.jpg") no-repeat center;
    background-size:cover;
    position:relative
}
