.quote {
    background:
        url("../../../assets/images/bd1.jpg") center/cover no-repeat;
}



.host-drive-quote {
    background:
        url("../../../assets/images/bd5.jpg") center/cover no-repeat;
}


.need-blood-quote {
    background:
        url("../../../assets/images/bd6.jpg") center/cover no-repeat;
}


.quote-wrapper {
	background-attachment: fixed;
}
