.cta-col::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 128, 128, 0.7), rgba(0, 255, 255, 0.7));
    opacity: 0.6;
    z-index: 0;
    transition: opacity 0.3s ease;
}

.cta-col:hover::before {
    background: linear-gradient(to top, rgba(0, 128, 128, 0.8), rgba(0, 255, 255, 0.8));
    opacity: 0.9;
}


.cta-col-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}


.cta-col:nth-child(1) {
    background: rgba(123, 36, 28, 0.9) url("../../../assets/images/bd5.jpg") no-repeat center center / cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-col:nth-child(2) {
    background: rgba(33, 150, 243, 0.9) url("../../../assets/images/bd4.jpg") no-repeat center center / cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
